@charset "UTF-8";
/* CSS Document */


/* -- Yahoo CSS Reset ------------------------------------------------- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* -- Music Theatre Online CSS ------------------------------------------------- */

body {
	background:url('../images/bkgd_page.gif');
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #4a4a4a;
}

.container {
	width: 1000px;
	height:660px;
	margin: 0 auto;
	border-left: 5px solid #333;
	border-right: 5px solid #333;
	position: relative;
}

.header {
	height: 55px;
	background: url('../images/bkgd_header-2.gif') repeat-x top left;
	text-align: right;	
}

#logo {
	display: block;
	width: 234px;
	height: 82px;
	position: absolute;
	top: 0;
	background: url('../images/mto-logo-2.jpg') no-repeat top left;
	z-index: 2;
}

#title {
	display: block;
	width: 234px;
	height: 60px;
	margin-left: 229px;
	background: url('../images/mto-tagline-2.jpg') no-repeat top left;
	float: left;
}
#nav {
	width: 230px;
	float: right;
}
#nav li {
	float: left;
}
#nav li a {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	height: 60px;
	line-height: 75px;
	padding: 0 1em;
	text-decoration: none;
}
#nav li a:hover {
	background: #707070;
}

#nav li.current {
	background: #9c4e6d;	
}

.search-area {
	height: 62px;
	background: url('../images/bkgd_search.gif') repeat-x top left;
}

.search {
	float:right;
	margin-top:15px;
	padding-right:23px;
	position:relative;
}

.search select { /*drop-down menu */
	 border-style: hidden;
     border-width: 0px;
     color: #3ea7a0;
	 font-size:10px;
     padding:6px 2px 2px 7px;
	 
	 height:24px;
	 width:130px;
	 background-image:url(../images/dropdown-2.jpg);
	 background-repeat:no-repeat;
	 margin-right:5px;
	 vertical-align:top;
}
    
.search img {
	margin-left:-28px;	
	margin-right:5px;
}

.searchbox {
     border-style: hidden;
     border-width: 0px;
     color: #3ea7a0;
     padding:6px 2px 4px 7px;
	 
     font-size:8pt;
	 height:14px;
	 width:221px;
     background-image: url(../images/searchbox-2.gif);
	 background-repeat:no-repeat;
	 vertical-align:top;
}

.submitbutton {
	vertical-align:top;	
	margin-left:-4px;
}

.search-area p {
	margin-top:5px;
	line-height:15px;
	font-size:11px;
}

.search-area a {
	color: #3ea7a0;
	margin-left:884px;
}

.search-area a:hover {
	text-decoration:underline;
}
#musicControls{
	float: right;
	padding-right: 3em;
}
.main {
	background: #fff;
	width:1000px;
	min-height: 500px;
	padding-top:0px;

}

h1 {
	font-size:25px;
	color:#FFF;
	margin-bottom:8px;
	font-weight:normal;
}

h2 {
	color: #3ea7a0;
	font-size:18px;
	text-align:left;
	letter-spacing:normal;
	padding-bottom:10px;
}

.main p {
	line-height:18px;
	padding-bottom:15px;
	font-size:105%;
}

.resultsheader {
	float:left;
	padding-left:50px;
	margin-top:-25px;
	width:200px;
}

table.resultslist {
	width:921px;
	margin-left:50px;
}

.resultslist tr th {
	font-weight:bold;
	font-size: 12px;
	letter-spacing:1px;
	padding-bottom:10px;
}

.resultslist td {
	border-bottom:1px #e5e1e1 solid;
	padding-bottom:8px;
	padding-top:8px;
}

.resultslist input {
	margin-left:10px;
}

.getresultsbutton {
	margin-top:20px;
	float:right;
	padding-right:23px;
}



.footer {
	background: #bdeafb url('../images/line_horiz-2.gif') no-repeat;
	padding: 10px 40px 0px 40px;
	height: 40px;
	line-height: 50px;
	border-bottom: 5px solid #333;
	
}
.copyright {
	float: left;
}
.contact {
	float: right;
}
.contact a {
	color: #666;
}

